/* TODO Add site wide styles */
@import './_normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



body{
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    font-family: 'Indie Flower', cursive;
}

a{
    text-decoration: none;
    color: black;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.landing-page__container{
    margin-top: 3%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 37.5% 37.5% 25%;
    grid-template-rows: 1fr 1fr 1fr;
}

.landing-page__info-picture-1{
    margin-left: 30px;
    border: 2px solid black;
    grid-row: 1;
    grid-column: 1;
    background-image: url(homepage-view.png);
    background-size: cover;
    width: 90%;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

.landing-page__info-text-1{
    grid-row: 1;
    grid-column: 2;
    -webkit-animation: fadein 1.5s;
    animation: fadein 1.5s;
}

.landing-page__info-text-1-header{
    margin-top: 5%;
    text-align: center;
}

.landing-page__info-text-1-text{
    margin-top: 5%;
    text-align: center;
    font-size: larger;
    letter-spacing: 2px;
}

.landing-page__info-picture-2{
    margin-left: 30px;
    border: 2px solid black;
    grid-row: 2;
    grid-column: 2;
    background-image: url(bookshelf-view.png);
    background-size: cover;
    width: 90%;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
}

.landing-page__info-text-2{
    grid-row: 2;
    grid-column: 1;
    -webkit-animation: fadein 2.5s;
    animation: fadein 2.5s;
}

.landing-page__info-text-2-header{
    margin-top: 5%;
    text-align: center;
}

.landing-page__info-text-2-text{
    margin-top: 5%;
    text-align: center;
    font-size: larger;
    letter-spacing: 2px;
}

.landing-page__info-picture-3{
    margin-left: 30px;
    border: 2px solid black;
    grid-row: 3;
    grid-column: 1;
    background-image: url(item-view.png);
    background-size: cover;
    width: 90%;
    -webkit-animation: fadein 3s;
    animation: fadein 3s;
}

.landing-page__info-text-3{
    grid-row: 3;
    grid-column: 2;
    -webkit-animation: fadein 3.5s;
    animation: fadein 3.5s;
}

.landing-page__info-text-3-header{
    margin-top: 5%;
    text-align: center;
}

.landing-page__info-text-3-text{
    margin-top: 5%;
    text-align: center;
    font-size: larger;
    letter-spacing: 2px;
}



.login-form__container{
    grid-column-start: 3;
    grid-row: 1 / 4;
    position: relative;
    width: 400px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
    background-image: url(scrap_paper.png);
    background-size: cover;
}

.login-form{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 15%;
}

.login-form-field{
    margin-bottom: 15px;
    
}

.login-form-label{
    margin-right: 10px;
}

.login-form__login-btn{
    margin-top: 5%;
}

.login-form__signup-btn{
    margin-top: 5%;
}

.main__container{
    display: grid;
    grid-template-columns: 15% 35% 50%;
    grid-template-rows: 150px 275px 275px 120px;
    width: 100%;
    height: max-content;
}

.navbar__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 75px;
    /* background-color: #70380f; */
    border-bottom: 2px solid #4e2c0b;
}

.navbar__header{
    font-size: xx-large;
    width: fit-content;
    grid-column-start: 2;
    justify-self: center;
    margin-top: 2%;
}

.navbar__create-bookshelf-button{
    grid-row: 1;
    grid-column: 1;
    margin-left: 25%;
    width: fit-content;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar__logout-btn{
    justify-self: center;
    grid-row: 1;
    grid-column: 3;
    margin-left: 25%;
    width: fit-content;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}
.navbar__dropdown {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content NavLink {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content NavLink:hover {background-color: #ddd;}

.navbar__dropdown:hover .dropdown-content {display: block;}

.navbar__dropdown:hover .dropbtn {background-color: #ffe3c8;}



.sidebar__container{
    border-right: 2px solid #0f4970;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    /* grid-area: 1/1/1/4; */
    width: 100%;
    height: 888px;
    /* background-color: #ffe3c8; */
    position: relative;
}

.sidebar__bookshelf-title{
    text-align: center;
}

.sidebar__bookshelf-bullet{
    margin-bottom: 10px;
    font-size: xx-large;
    font-weight: bolder;
}

.sidebar__bookshelf-link{
    color: black;
    font-size: large;
    text-decoration: none;
}

.sidebar__create-bookshelf-link{
    text-decoration: none;
    color: black;
}

.bookshelf__form-modal{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.bookshelf__form__container{
    background-color: white;
    border: 2px solid black;
    width:400px;
    margin: 45px auto;
}

.bookshelf__form-header{
    text-align: center;
}

.create__bookshelf{
    text-align: center;
    margin-top: 25px;
}


.bookshelf__form__label{
    margin: 10px;
}
.bookshelf__form__input{
    margin: 10px;
}

.homepage__checked-out-container{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    /* background-color: #ffe3c8; */
    width: 90%;
    height: 80%;
    border: 2px dashed #0f4970;

}

.homepage__checked-out-container-title{
    text-align: center;
}

.homepage__header{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.homepage-checked-out__list{
    margin-bottom: 10px;
}
.homepage__checked-out-link{
    color: black;
    font-size: large;
    text-decoration: none;
}

.check-in__btn{
    float: right;
    margin-right: 25px;
}

.homepage__invite-container{
    /* background-color: #ffe3c8; */
    border: 2px dashed #0f4970;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 87.8%;
    justify-self: center;
}

.homepage__invite-container-title{
    text-align: center;
}

.homepage__invite-container-label{
    margin-right: 25px;
}

.homepage__invite-container-input{
    width: 50%;
}

.homepage__invite-container-link{
    text-align: center;
}

.homepage__search-container{
    /* background-color: #ffe3c8; */
    width: 90%;
    height: 80%;
    border: 2px dashed #0f4970;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.homepage__search-container-title{
    text-align: center;
}

.homepage__search-container-input{
    text-align: center;
    width: 80%;
    font-size: x-large;
    margin-left: 10%;
    margin-top: 2%;
}

.homepage__search-container-button-container{
    text-align: center;
    margin-top: 5%;
}

.homepage__search-container-button{
    width: 15%
}

.item__form__container{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    /* background-color: #ffe3c8; */
    margin: 0 auto;
    width: 70%;
    height: 500px;
    border: 2px dashed #0f4970;
}

.item__form__label{
    margin:5%;
}

.item__form__input{
    margin-bottom: 10px;
}

.create__item{
    text-align: center;
    margin-top: 10%;
}

.item__form-header{
    text-align: center;
    margin-bottom: 15%;
}



li {
    list-style: none;
}

.search__results-link{
    text-decoration: none;
    color: black;
}

.main-bookshelf__container{
    display: grid;
    grid-template-columns: 15% 42.5% 42.5%;
    grid-template-rows: 150px 275px 275px 120px;
    width: 100%;
    height: max-content;
}

.bookshelf-view__header-container{
    /* background-color: #ffe3c8; */
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
    width: 75%;
    height: 75%;
    justify-self: center;
    margin-top: 2%;
    border: 2px dashed #0f4970;
}
.bookshelf-view__header{
    margin-top: 6%;
}

.bookshelf-view__bookshelf-container{
    background-color: white;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    width: 75%;
    height: fit-content;
    justify-self: center;
    border-top: 10px solid black;
}

.bookshelf-view__bookshelf-shelves{
    display: flex;
    background-color: rgba(128, 128, 128, 0.527);
    border-left: 2px solid #0f4970;
    border-right: 2px solid #0f4970;
    border-bottom: 10px solid black;
    height: 15%;
    flex-direction: row;
}

.bookshelf-view__bookshelf-items{
    width: fit-content;
    background-color: #3377ff;
    border: 1px solid black;
    margin-right: 5px;
    text-align: center;
    letter-spacing: 2px;
    text-orientation: sideways;
    writing-mode: vertical-rl;
    font-weight: bold;
}

.bookshelf-view__bookshelf-search-container{
    margin-top: 2%;
    /* background-color: #ffe3c8; */
    width: 90%;
    height: 75%;
    border: 2px dashed #0f4970;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    
}

.bookshelf-view__bookshelf-search-input{
    text-align: center;
    width: 80%;
    font-size: x-large;
    margin-left: 10%;
    margin-top: 2%;
}

.search-container__results-box{
    background-color: white;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border: 2px solid #0f4970;
}

.favorite-list-container{
    /* background-color: #ffe3c8; */
    width: 90%;
    border: 2px dashed #0f4970;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.favorite-list-header{
    text-align: center;
    font-size: 32px;
}

.bookkshelf-view__shelf-link{
    text-decoration: none;
    color: black;
}

.item-view__link {
    text-decoration: none;
    color: black;
    width: fit-content;
    margin-right: 5px;
    text-orientation: sideways;
    writing-mode: vertical-rl;
    font-weight: bold;
}

.shelf-view__shelf-search-container{
    justify-self: center;
    margin-top: 2%;
    /* background-color: #ffe3c8; */
    width: 90%;
    height: 75%;
    border: 2px dashed #0f4970;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.shelf-view__shelf-search-input{
    text-align: center;
    width: 80%;
    font-size: x-large;
    margin-left: 10%;
    margin-top: 4%;
}

.shelf-view__favorite-container{
    justify-self: center;
    /* background-color: #ffe3c8; */
    width: 90%;
    border: 2px dashed #0f4970;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.item-view__bookshelf-container{
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 60%;
    height: 80%;
    justify-self: center;
    border-top: 10px solid black;
    margin-top: 1%;
}

.item-view__bookshelf-shelves{
    display: flex;
    background-color: rgba(128, 128, 128, 0.527);
    border-left: 2px solid #0f4970;
    border-right: 2px solid #0f4970;
    border-bottom: 10px solid black;
    height: 90%;
    flex-direction: row;
}

.shelf__checked-out-container{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    /* background-color: #ffe3c8; */
    width: 90%;
    border: 2px dashed #0f4970;
    justify-self: center;
}

.shelf__checked-out-container-title{
    text-align: center;
    font-size: 32px;
}

.shelf-view__header-container{
    /* background-color: #ffe3c8; */
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
    width: 90%;
    height: 75%;
    justify-self: center;
    margin-top: 2%;
    border: 2px dashed #0f4970;
}

.shelf-view__bookshelf-items{
    width: fit-content;
    background-color: #3377ff;
    border: 1px solid black;
    margin-right: 5px;
    text-align: center;
    letter-spacing: 2px;
    text-orientation: sideways;
    writing-mode: vertical-rl;
    font-weight: bold;
}


.item-view__header-container{
    padding:0 20px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    text-align: center;
    width: fit-content;
    height: fit-content;
    justify-self: center;
    margin-top: 2%;
    border: 2px dashed #0f4970;
}

.item-view__header{
    font-size: xxx-large;
}

.item-view__information-container{
    width: 75%;
    height: fit-content;
    justify-self: center;
    text-align: center;
    margin-top: 2%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    background-image: url(scrap_paper.png);
    background-size: cover;
}



.item-view__information-list-item{
    margin-top: 2%;
    font-size: xx-large;
}

.item-view__information-star-false{
    transform: rotate(20deg);
    position: relative;
    margin-left: 85%;
    margin-top: 2%;
    width: 85px;
    height: 85px;
    background-image: url(favorited-false.png);
    background-size: cover;
}

.item-view__information-star-true{
    transform: rotate(20deg);
    position: relative;
    margin-left: 85%;
    margin-top: 2%;
    width: 85px;
    height: 85px;
    background-image: url(favorited-true.png);
    background-size: cover;
}

.item-view__check-in__btn{
    margin-top:2%;
    width: 100px;
    height: 50px;
    font-size: larger;
    font-weight: bold;
}

.item-view__remove__btn{
    margin-left: 10%;
    margin-top:2%;
    width: 100px;
    height: 50px;
    font-size: larger;
    font-weight: bold;
}

.item-view__remove-modal{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.remove-view__container{
    
    background-color: white;
    border: 2px solid black;
    width:500px;
    margin: 45px auto;
}

.remove-view__header{
    text-align: center;
}

.remove-view__paragraph{
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.remove-view__confirm-button{
    width:fit-content;
    margin-left: 200px;
}

.remove-view__cancel-button{
    width:fit-content;
    margin-left: 200px;
    margin-bottom: 5%;
}

.edit-view__edit-btn{
    transform: rotate(20deg);
    position: relative;
    bottom: 60px;
    margin-left: 7%;
    width: 70px;
    height: 70px;
    background-image: url(edit-icon.png);
    background-size: cover;
}

.edit-view__container{
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 2%;
    background-color: white;
}

.sign-up__login-p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-page__p{
    margin-bottom: 10px;
}